<div class="footer-3" css-id="footer-3" devGroupName='footer' devName='Footer'>
  <div class="container f-row" devName='Footer Row' devIcon='container'>
    <div class="left" devName='Copyright Text' devIcon='text'>© 2025 Brand</div>
    <div class="center payment-icons" devName='Payment Icons' devIcon='container'>
      <span class="pay-icon" devName='Payment Icon' devIcon='icon'>💳</span>
      <span class="pay-icon" devName='Payment Icon' devIcon='icon'>💵</span>
      <span class="pay-icon" devName='Payment Icon' devIcon='icon'>🔒</span>
    </div>
    <div class="right social-links" devName='Social Links' devIcon='container'>
      <span class="follow-text" devName='Follow Text' devIcon='text'>Follow us:</span>
      <a href="#" class="social-icon" devName='Social Icon' devIcon='link'>📷</a>
      <a href="#" class="social-icon" devName='Social Icon' devIcon='link'>📘</a>
      <a href="#" class="social-icon" devName='Social Icon' devIcon='link'>🐦</a>
    </div>
  </div>
</div>
