<div class="footer-4" css-id="footer-4" devGroupName='footer' devName='Footer'>
  <div class="container" devName='Footer Container' devIcon='container'>
    <div class="cols" devName='Footer Columns' devIcon='container'>
      <div class="f-col" devName='Footer Column' devIcon='container'>
        <h4 devName='Column Title' devIcon='text'>Shop</h4>
        <ul devName='Link List' devIcon='menu'>
          <li><a href="#" devName='Footer Link' devIcon='link'>Collections</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>New Arrivals</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>Best Sellers</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>Sale</a></li>
        </ul>
      </div>
      <div class="f-col" devName='Footer Column' devIcon='container'>
        <h4 devName='Column Title' devIcon='text'>Help</h4>
        <ul devName='Link List' devIcon='menu'>
          <li><a href="#" devName='Footer Link' devIcon='link'>Shipping Info</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>Returns</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>Size Guide</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>FAQ</a></li>
        </ul>
      </div>
      <div class="f-col" devName='Footer Column' devIcon='container'>
        <h4 devName='Column Title' devIcon='text'>Company</h4>
        <ul devName='Link List' devIcon='menu'>
          <li><a href="#" devName='Footer Link' devIcon='link'>About Us</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>Careers</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>Press</a></li>
          <li><a href="#" devName='Footer Link' devIcon='link'>Contact</a></li>
        </ul>
      </div>
      <div class="f-col newsletter-col" devName='Newsletter' devIcon='container'>
        <h4 devName='Column Title' devIcon='text'>Stay Updated</h4>
        <p class="newsletter-text" devName='Newsletter Text' devIcon='text'>Get the latest updates and exclusive offers</p>
        <div class="input-wrapper" devName='Input Group' devIcon='container'>
          <input type="email" placeholder="Your email address" />
          <div devName='Subscribe Button' devIcon='icon'>→</div>
        </div>
        <div class="social-row" devName='Social Row' devIcon='container'>
          <a href="#" class="social-link" devName='Social Link' devIcon='link'>📷</a>
          <a href="#" class="social-link" devName='Social Link' devIcon='link'>📘</a>
          <a href="#" class="social-link" devName='Social Link' devIcon='link'>🐦</a>
          <a href="#" class="social-link" devName='Social Link' devIcon='link'>▶️</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom" devName='Footer Bottom' devIcon='container'>
      <p devName='Copyright Text' devIcon='text'>© 2025 Brand. All rights reserved.</p>
      <div class="bottom-links" devName='Bottom Links' devIcon='container'>
        <a href="#" devName='Legal Link' devIcon='link'>Privacy Policy</a>
        <a href="#" devName='Legal Link' devIcon='link'>Terms of Service</a>
        <a href="#" devName='Legal Link' devIcon='link'>Cookies</a>
      </div>
    </div>
  </div>
</div>
