<div class="footer-2" css-id="footer-2" devGroupName='footer' devName='Footer'>
  <div class="container f-grid" devName='Footer Grid' devIcon='container'>
    <div class="f-col" devName='Footer Column' devIcon='container'>
      <h4 devName='Column Title' devIcon='text'>Shop</h4>
      <ul devName='Link List' devIcon='menu'>
        <li><a href="#" devName='Footer Link' devIcon='link'>New Arrivals</a></li>
        <li><a href="#" devName='Footer Link' devIcon='link'>Best Sellers</a></li>
        <li><a href="#" devName='Footer Link' devIcon='link'>Sale</a></li>
        <li><a href="#" devName='Footer Link' devIcon='link'>Collections</a></li>
      </ul>
    </div>
    <div class="f-col" devName='Footer Column' devIcon='container'>
      <h4 devName='Column Title' devIcon='text'>About</h4>
      <ul devName='Link List' devIcon='menu'>
        <li><a href="#" devName='Footer Link' devIcon='link'>Our Story</a></li>
        <li><a href="#" devName='Footer Link' devIcon='link'>Careers</a></li>
        <li><a href="#" devName='Footer Link' devIcon='link'>Press</a></li>
        <li><a href="#" devName='Footer Link' devIcon='link'>Contact</a></li>
      </ul>
    </div>
    <div class="f-col newsletter" devName='Newsletter' devIcon='container'>
      <h4 devName='Column Title' devIcon='text'>Newsletter</h4>
      <p devName='Newsletter Text' devIcon='text'>Subscribe for exclusive updates and offers</p>
      <div class="input-group" devName='Input Group' devIcon='container'>
        <input type="email" placeholder="Enter your email" />
        <div devName='Subscribe Button' devIcon='link'>Subscribe</div>
      </div>
    </div>
  </div>
  <div class="container f-bottom" devName='Footer Bottom' devIcon='container'>
    <p devName='Copyright Text' devIcon='text'>© 2025 Brand. All rights reserved.</p>
  </div>
</div>
