<div class="footer-5" css-id="footer-5" devGroupName='footer' devName='Footer'>
  <div class="container" devName='Footer Container' devIcon='container'>
    <div class="pay-methods" devName='Payment Methods' devIcon='container'>
      <span class="method-label" devName='Method Label' devIcon='text'>We accept:</span>
      <div class="pay-icons" devName='Payment Badges' devIcon='container'>
        <span class="payment-badge" devName='Payment Badge' devIcon='icon'>💳 VISA</span>
        <span class="payment-badge" devName='Payment Badge' devIcon='icon'>💳 MC</span>
        <span class="payment-badge" devName='Payment Badge' devIcon='icon'>💰 PayPal</span>
        <span class="payment-badge" devName='Payment Badge' devIcon='icon'>🍎 Pay</span>
      </div>
    </div>
    <div class="security-badge" devName='Security Badge' devIcon='container'>
      <span class="secure-icon" devName='Secure Icon' devIcon='icon'>🔒</span>
      <span class="secure-text" devName='Secure Text' devIcon='text'>Secure Checkout</span>
    </div>
    <p class="small-print" devName='Small Print' devIcon='text'>Prices shown in USD. Taxes and shipping calculated at checkout. <br>By continuing, you agree to our Terms of Service and Privacy Policy.</p>
  </div>
</div>
