<div class="header-5" css-id="header-5" devGroupName='header' devName='Header'>
  <div class="container hdr-mega-inner" devName='Header Main' devIcon='container'>
    <div class="logo" devName='Header Logo' devIcon='text'>Brand</div>
    <nav class="mega-nav" devName='Header Menu' devIcon='menu'>
      <div class="nav-item" devName='Shop Menu Item' devIcon='link'>Shop
        <div class="mega-panel" devName='Mega Panel' devIcon='container'>
          <div class="col" devName='Menu Column' devIcon='container'>
            <h4 devName='Column Title' devIcon='text'>New Arrivals</h4>
            <a href="#" devName='Menu Link' devIcon='link'>Spring Collection</a>
            <a href="#" devName='Menu Link' devIcon='link'>Limited Edition</a>
            <a href="#" devName='Menu Link' devIcon='link'>Trending Now</a>
          </div>
          <div class="col" devName='Menu Column' devIcon='container'>
            <h4 devName='Column Title' devIcon='text'>Collections</h4>
            <a href="#" devName='Menu Link' devIcon='link'>Summer Essentials</a>
            <a href="#" devName='Menu Link' devIcon='link'>Urban Style</a>
            <a href="#" devName='Menu Link' devIcon='link'>Classic Line</a>
          </div>
          <div class="col" devName='Menu Column' devIcon='container'>
            <h4 devName='Column Title' devIcon='text'>Featured</h4>
            <a href="#" devName='Menu Link' devIcon='link'>Best Sellers</a>
            <a href="#" devName='Menu Link' devIcon='link'>Sale Items</a>
            <a href="#" devName='Menu Link' devIcon='link'>Gift Ideas</a>
          </div>
        </div>
      </div>
      <div class="nav-item" devName='Menu Item' devIcon='link'>About</div>
      <div class="nav-item" devName='Menu Item' devIcon='link'>Contact</div>
    </nav>
    <div class="right" devName='Header Actions' devIcon='container'>
      <div class="icon-btn" devName='Cart Button' devIcon='icon'>🛒 Cart</div>
    </div>
  </div>
</div>
