<div class="template-3" css-id="template-3" devGroupName='template' devName='Marquee Banner'>
  <div class="marquee-bg" devName='Marquee Background' devIcon='container'></div>
  <div class="marquee-container" devName='Marquee Container' devIcon='container'>
    <div class="marquee-wrapper" devName='Marquee Wrapper' devIcon='container'>
      <div class="marquee-content" devName='Marquee Content' devIcon='container'>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
      </div>
      <div class="marquee-content" devName='Marquee Content' devIcon='container'>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
        <span class="marquee-item" devName='Marquee Item' devIcon='text'>New Arrivals</span>
        <span class="marquee-separator" devName='Marquee Separator' devIcon='text'>★</span>
      </div>
    </div>
  </div>
</div>
