.edit-page {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 1);
  color: #343434;
}

.icon-size {
  width: 20px;
  height: 20px;
}

.hovered-node {
  outline: 2px solid #3b82f6;
  outline-offset: 1px;
  transition: outline 0.2s;
}
