@use '@/styles/variables.scss' as *;

.edit-page {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 1);
  color: $text-black;

  .header-session {
    display: flex;
    padding: '4px 8px';
    background-color: $bg-white;

    .return-button {
      width: 20px;
      height: 20px;
    }
  }
}
