@use '@/styles/customVariables.scss' as *;

.edit-page {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 1);
  color: $text-black;

  .icon-size {
    width: 20px;
    height: 20px;
  }

  .header-session {
    display: flex;
    padding: 8px 16px;
    background-color: $bg-white;
    justify-content: space-between;
    width: 100%;

    .every-session {
      display: flex;
      align-items: center;
      gap: 8;
    }

    .device-choose {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 8px;
      background-color: rgba(241, 241, 241, 1);
      gap: 8px;
      padding: 4px;

      .device-background {
        margin: 2px 0px;
        border-radius: 8px;
        background-color: transparent;
        transition:
          background-color 0.25s ease,
          transform 0.25s ease;

        &.active {
          background-color: $bg-white;
          transform: scale(1.05);
          transition:
            background-color 0.25s ease,
            transform 0.25s ease;
        }
      }

      .device-icon {
        padding: 4px;
        width: 32px;
        height: 32px;
      }
    }

    .save-button {
      color: $text-white;
      background-color: $text-black;
      border-radius: 8px;
      padding: 8px 16px;
    }
  }

  .body-session {
    display: flex;
    width: 100%;

    .first-section {
      width: 25%;
      height: 100vh;
      background-color: $bg-white;
      display: flex;

      .action-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: fit-content;
        padding: 0 8px;

        .action-item {
          padding: 10px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition:
            transform 0.25s ease,
            color 0.25s ease;

          &.active {
            color: $primary-color;
          }

          &:hover {
            background-color: rgba(241, 241, 241, 1);
            cursor: pointer;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
