.edit-page .body-session {
  display: flex;
  width: 100%;
}

.edit-page .body-session .first-section {
  width: 25%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  overflow-y: auto;
}

.edit-page .body-session .first-section .action-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 0 8px;
}

.edit-page .body-session .first-section .action-bar .action-item {
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition:
    transform 0.25s ease,
    color 0.25s ease;
}

.edit-page .body-session .first-section .action-bar .action-item.active {
  color: #405095;
}

.edit-page .body-session .first-section .action-bar .action-item:hover {
  background-color: rgba(241, 241, 241, 1);
  cursor: pointer;
  border-radius: 8px;
}

.edit-page .body-session .first-section .section-content {
  color: #343434;
  width: 100%;
  border-left: 1px solid rgb(208, 200, 200);
}

.edit-page .body-session .first-section .section-content .page-name {
  padding: 12px;
  border-bottom: 1px solid rgb(208, 200, 200);
}

.edit-page .body-session .first-section .section-wrapper {
  border-bottom: 1px solid rgb(208, 200, 200);
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.edit-page .body-session .first-section .add__section-button {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-left: 10px;
}

.edit-page .body-session .first-section .add__section-icon {
  width: 15px;
  height: 15px;
}

.edit-page .body-session .first-section .add_section-text {
  color: #3b82f6;
  font-size: 11px;
}

.edit-page .body-session .first-section .section-wrapper .tree-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.edit-page .body-session .first-section .section-wrapper .tree-item:hover {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 8px;
}

.edit-page .body-session .first-section .section-wrapper .tag-name {
  color: #343434;
  word-break: break-word;
}

.edit-page .body-session .first-section .section-wrapper .tree-children {
  margin-left: 24px;
}

.edit-page .body-session .second-section {
  margin: 8px;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
